/**********************************************
Maclaren Honda and Esso section styling
**********************************************/

#fuelyoursenses section.content .section.maclaren-honda-and-esso {
	.background-image-container {
		background: url(../images/fuel-your-senses/section--maclaren-honda-and-esso--background.jpg) center center transparent;
		background-size: 100% auto;
		background-size: cover;

		@media screen and (max-width: $screen-md-min) {
			background-position: 25% center;
		}
	}

	.content-body {
	    position: absolute;
	    bottom: 20%;
	    right: 7%;
	    width: 35%;
	    opacity: 1;
	    @include transition(all 0.75s ease-out);

	    p:last-child {
	    	margin-bottom: 0;
	    }

	    @media screen and (max-width: $screen-md-min) {
	    	right: auto;
	    	left: 7%;
			width: 86%;
			bottom: 10%;
		}

		@media screen and (max-width: $screen-xsm-min) {
			left: 5%;
			width: 90%;
			bottom: 20px;
		}
	}

	&.animate-out {
		.content-body {
			right: 14%;
			opacity: 0;

			@media screen and (max-width: $screen-md-min) {
		    	right: auto;
		    	left: 0;
			}

			@media screen and (max-width: $screen-xsm-min) {
				left: 0;
			}
		}
	}

	.sub-title {
		font-size: 20px;
	}
}

html[lang='it-it'] #fuelyoursenses section.content .section.maclaren-honda-and-esso {
	.background-image-container {
		background: url(../images/fuel-your-senses/section--maclaren-honda-and-esso--alonso.jpg) center center transparent;
		background-size: 100% auto;
		background-size: cover;	
	}
}